#buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 0;
    background: #64646455;
    .buttons-container{
        &.zoom{
            margin: auto;
            .button-container{
                width: fit-content;
                background: #535353;
                position: relative;
                box-shadow: 0 0 5px #000000;
                &:after{
                    content: '';
                    position: absolute;
                    width:100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: rgb(160, 160, 160);
                    z-index: 1;
                    opacity: 0;
                    transform: scale(0);
                    transition: transform .5s ease, opacity .7s ease;
                }
                &:hover:after{
                    transform: scale(1); 
                    opacity: 1;
                }
            }
            .button{
                position: relative;
                color: #ffff;
                width: 100%;
                height: 100%;
                padding: .75rem 1rem;
                cursor: pointer;
                z-index: 2;
                &:focus{ outline: none;}
            }
        }
        &.slider{
            margin: auto;
            .button-container{
                width: fit-content;
                background: #535353;
                position: relative;
                box-shadow: 0 0 5px #000000;
                overflow: hidden;
                &:after{
                    content: '';
                    position: absolute;
                    width:100%;
                    height: 100%;
                    left: -100%;
                    top: 0;
                    background-color: rgb(160, 160, 160);
                    z-index: 1;
                    opacity: 0;
                    transition: left .5s ease, opacity .7s ease;
                }
                &:hover:after{
                    opacity: 1;
                    left: 0;
                }
            }
            .button{
                position: relative;
                color: #ffff;
                width: 100%;
                height: 100%;
                padding: .75rem 1rem;
                cursor: pointer;
                z-index: 2;
                &:focus{ outline: none;}
            }
        }
    }
}